[Desktop Entry]
Type=Application
Terminal=true
Name=Bluetooth Resetter
Icon=/usr/local/share/pixmaps/bluetooth-active.png
Exec=pkexec sh -c "/usr/local/sbin/bluetooth_reset.sh restart 60; read"
